<head>
  <title>My Site</title>
  <link rel="stylesheet" href="../public/main.css" />
</head>

{{! <img
      class="img-fluid"
      alt="Responsive image"
      src="../public/images/landing_page_bg.png"
    /> }}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="image-container">
        <img
          src="../public/images/landing_page_bg.png"
          class="image-cover"
          alt="Cover image"
        />
      </div>
    </div>
  </div>
</div>