<link rel="stylesheet" href="../public/users.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares/dayCareList">Search for Daycares</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<div class="table-form">
  <form id="addChildForm" method="POST" action="/users/addChildren">
    <div>
      <p>Adding Children</p>
      <table>
        <tr><th>First Name</th><td>
            <input
              type="text"
              name="firstnameInput"
              id="firstnameInput"
              placeholder="First Name"
            />
          </td></tr>
        <tr><th>Last Name</th><td>
            <input
              type="text"
              name="lastnameInput"
              id="lastnameInput"
              placeholder="Last Name"
            />
          </td></tr>
        <tr><th>Age</th><td>
            <input
              type="text"
              name="ageInput"
              id="ageInput"
              placeholder="Age"
            />
          </td></tr>
      </table>
    </div>
    <div class="button-container">
      <button type="submit">Add Child</button>
    </div>
  </form>
  <div class="button-container2">
    <a class="link-button" href="/users/userPage">Cancel</a>
  </div>
</div>