<link rel="stylesheet" href="../public/users.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares/dayCareList">Search for Daycares</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<title>User Profile</title>

<div class="table-form2">
  <form id="editPassword" method="POST" action="/users/changePassword">
    <input type="hidden" name="_method" value="PATCH" />
    <p>Change your password</p>
    <input
      type="text"
      name="newPassword"
      id="newPassword"
      placeholder="New Password"
    />
    <input
      type="text"
      name="newPasswordCheck"
      id="newPasswordCheck"
      place="Confirm New Password"
    />
    <button type="submit">Save</button>
  </form>
  <div class="button-container">
    <a class="nav-link" href="/users/userPage">
      <button>Cancel</button>
    </a>
  </div>
</div>