<link rel="stylesheet" href="../public/users.css" />
{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}
<p>Are you sure you want to delete your child's information? All information
  will be erased.</p>
<form id="deleteChild" method="POST" action="/users/deleteChild">
  <input type="hidden" name="_method" value="DELETE" />
  <div>
    <input class="button" type="submit" value="Delete Child" />
  </div>
</form>