<link rel="stylesheet" href="../public/users.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares/dayCareList">Search for Daycares</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<title>Your Favorite Daycares</title>

<div class="table-form">
  <div>
    <p>Favorite Daycares</p>
    <ul></ul>
    {{#each favorites}}
      <li>{{this.name}} <button>Remove Daycare</button></li>
    {{/each}}
  </div>
  <div class="button-container">
    <a class="nav-link" href="/users/userPage">
      <button>Go Back</button>
    </a>
  </div>
</div>