<link rel="stylesheet" href="../public/users.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares/dayCareList">Search for Daycares</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<div class="table-form">
  <div>
    <p>Favorite Daycares</p>
    <ul>
      {{#each favorites}}
        <li><a href="/daycares/{{this._id}}">{{this.name}}</a>
          <a
            href="/users/userRemoveFromFavorites/{{this._id}}"
          >RemoveDaycare</a>
        </li>
      {{/each}}
    </ul>
    <div class="button-container">
      <a class="link-button" href="/users/userPage">Go Back</a>
    </div>
  </div>
</div>