<link rel="stylesheet" href="../public/users.css"/>

<div class="form-box">
<form>
    <h2>Login Page</h2>
    <div>
        <input type="email" placeholder="Email">
    </div>
    <div>
        <input type="password" placeholder="Password">
    </div>
    <div>
        <button type="button">Log In</button>
        <button type="button" id="registerButton">New User? Register Here</button>
    </div>
</form>
</div>

<script src="../public/js/register.js"></script>