<link rel="stylesheet" href="../public/users.css"/>

<div class="form-box">
<form id="registration" method="POST" action="/login/userSignup">
    <h2>Register</h2>
    <div>
        <input type="text" name="firstnameInput" id="firstnameInput" placeholder="First Name"/>
    </div>
    <div>
        <input type="text" name="lastnameInput" id="lastnameInput"placeholder="Last Name"/>
    </div>
    <div>
        <input type="email" name="emailaddress" id="emailaddress" placeholder="Email"/>
    </div>
    <div>
        <input type="password" name="passwordInput" id="passwordInput" placeholder="Password"/>
    </div>
    <div>
        <input type="text" name="townInput" id="townInput" placeholder="Hometown"/>
    </div>
    <div>
        <input type="text" name="zipcodeInput" id="zipcodeInput" placeholder="Zipcode"/>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
</div>