<link rel="stylesheet" href="../public/daycares.css" />
<article class="error-page">
  <main>
    <p class="error">
      {{error}} <br>
      {{error1}}
    </p>
    <h3><a href="/">Go to home page</a></h3>
  </main>
</article>


