<link rel="stylesheet" href="../public/daycares.css" />

<div>
  <nav class="nav-test carrot">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/daycares">Daycares home page</a></li>
    </ul>
  </nav>
</div>

<h1>You have been logged out</h1>
<p><a href="/">Login in again</a></p>