<link rel="stylesheet" href="../public/daycares.css" />

{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}  
<form method="POST" action="/daycares/password">
    <input type="hidden" name="_method" value="PATCH"/>
    <label for="newpassword">New Password:</label>
    <input type="password" id="newpassword" name="newpassword" required>
      
    <label for="confirmedpassword">Confirmed new Password:</label>
    <input type="password" id="confirmedpassword" name="confirmedpassword" required>

    <button type="submit">submit</button>
</form>