<!DOCTYPE html>
<html>
<head>
  <title>Welcome to your daycare portal</title>
  <link rel="stylesheet" href="../public/daycares.css" />
</head>
<body>
  <header>
    <h1>Welcome to Your Daycare Dashboard, {{name}}!!</h1>
  </header>
  <main>
    <p>Manage your daycare operations from the following options:</p>
    <ul>
      <li><a href="/daycares/update">Update Daycare Information</a></li>
      <li><a href="/daycares/availability">Update Availability</a></li>
      <li><a href="/daycares/changePassword">Change Password</a></li>
      <li><a href="/daycares/delete">Delete Daycare</a></li>
      <li><a href="/daycares/logout">Logout</a></li>
    </ul>
  </main>
</body>
</html>



